@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Maven+Pro:wght@400..900&display=swap');
@import "tailwindcss";

@theme{
  --font-subtitle: 'Inconsolata', monospace;
  --font-Small: 'Maven Pro', sans-serif;
  --font-primary: 'Asap', sans-serif;
  --color-muted: #E3646E;
  --color-BackgroundPrimary: #16181D;
  --color-TextPrimary: #E2E4E9;
  --color-TextSecondary: #878EA1;
  --color-IconPurple: #BB72E9;
  --color-IconYellow: #EABD5F;
  --color-IconGreen: #82BC4F;
  --color-IconBlue: #3996DB;
  --color-cardBackground: #292C34;
}

body {
  background-color: var(--color-BackgroundPrimary);
  font-family: var(--font-primary);
  color: var(--color-TextPrimary);
}